.transactionHistory {
  width: 600px;
  box-shadow: 5px 5px 5px #afcbc8;
  margin: 20px 0;
}

.tableTitle {
  height: 60px;
  background-color: #49baf6;
  color: #fff;
  font-size: 26px;
}

.tableTitleItem {
  width: 200px;
}

.term {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  height: 50px;
}

.term:nth-child(2n) {
  background-color: #C7E6F7;
}

.type {
  padding-left: 60px;
  text-align: start;
  text-transform: capitalize;
}